*{
    background-color: rgb(18, 25, 35);
    box-sizing: border-box;
}
.navbar {
    color: white;
    overflow: hidden;
    padding: 20px 30px;
}

.navbar a.logo {
    font-size: 20px;
    font-family: 'Finlandica', sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
    float: left;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    position: absolute;
    margin-top: -53px;
    margin-left: 100px;
}



.navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.navbar li a:hover {
    background-color: rgb(127, 100, 208);
    border-radius: 10px;
}
.title{
    position: absolute;
    margin-top: 0;
    margin-left: 80px;
    color:rgb(127, 100, 208);
    font-size: x-large;
    font-family: 'Finlandica', sans-serif;
}
.quizbox{
    position: relative;
    margin-top: 170px;
    margin-left: 80px;
    border-radius: 10px;
    overflow: hidden;
    outline-width: 5px;
    outline-color: #fff;
    outline-style:auto;
    width: 1200px;
    height: 450px;
    transform: translate(4%);
    color: aliceblue;
}
.header{
    padding: 40px;
}
h2{
    font-size: 2rem;
}
ul{
    list-style: none;
    padding : 0;
}
ul li{
    font-size: 1.7rem;
    margin: 1rem 0;
}
ul li label{
    cursor: pointer;
}
.button1 button{
    background-color: rgb(211, 211, 211);
    color: black;
    border: none;
    display: block;
    width: 120px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    padding: 1.3rem;
    border-radius: 10px;
    font-weight: 1000;
    position: absolute;
    margin-left: 1206px;
    margin-top: 20px;
}
.button2 button{
    background-color: rgb(211, 211, 211);
    color: black;
    border: none;
    display: block;
    width: 120px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    padding: 1.3rem;
    border-radius: 10px;
    font-weight: 1000;
    position: absolute;
    margin-left: 130px;
    margin-top: 20px;
}
.button1 :hover{
    background-color: rgb(127, 100, 208);
}
.button2 :hover{
    background-color: rgb(127, 100, 208);
}
#timer {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Finlandica', sans-serif;
    color: rgb(127, 100, 208);
    position: absolute;
    margin-top: 40px;
    margin-left: 72rem;
}
.timericon {
    position: absolute;
    margin-top: 36px;
    margin-left: 68rem;
}
@media only screen and (max-width: 695px) {
    .navbar ul{
        display: none;
    }

    .navbar ul {
        margin-top: 20px;
        justify-content: flex-start;
    }

    .title {
        margin-left: 20px;
        font-size: medium;
    }

    .quizbox {
        margin: 200px 5px 10px;
        width: 90%;
        height: 180%;
    }

    .button1 button{
        width: 100px;
        padding: 1rem;
        margin-left: 60%;
    }
    .button2 button {
        width: 100px;
        padding: 1rem;
        margin-left: 10%;
    }

    #timer {
        position: absolute;
        margin-left: 85px;
        margin-top: 120px;
    }

    .timericon {
        position: absolute;
        margin-left: 15px;
        margin-top: 120px;
    }
}

